# Node.js
frontend/node_modules/

# Python
backend/__pycache__/
backend/.venv/
*.pyc
__pycache__/

# Ignore Python virtual environment
.venv/

# Environment files
backend/.env

# Data files
trimmed_ais.csv

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
